@model NipponQuest.Models.Hiragana

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Hiragana</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Symbol" class="control-label"></label>
                <input asp-for="Symbol" class="form-control" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Romaji" class="control-label"></label>
                <input asp-for="Romaji" class="form-control" />
                <span asp-validation-for="Romaji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrokeOrderUrl" class="control-label"></label>
                <input asp-for="StrokeOrderUrl" class="form-control" />
                <span asp-validation-for="StrokeOrderUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnlockLevel" class="control-label"></label>
                <input asp-for="UnlockLevel" class="form-control" />
                <span asp-validation-for="UnlockLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
